body {
  margin: 0;
  background: #2c3e50;
}

.wrapper {
  margin-left: 20px;
}

.icon {
  fill: #597ea2 !important;
  margin: 15px 15px;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg);
}
