body {
  margin: 0;
  background: #2980b9;
}

.wrapper {
  margin-left: 20px;
}

.icon {
  fill: #7fbbe3 !important;
  margin: 15px 15px;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg);
}
