body {
  margin: 0;
  background: #27ae60;
}

.wrapper {
  margin-left: 20px;
}

.icon {
  fill: #75e0a2 !important;
  margin: 15px 15px;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg);
}
